table {
    text-align: center;
    border: 5px solid red;
    padding: 15px 6px;
    /* width: 100px;
    height: 100px;
    background-color: orange;
    color: white;
    text-align: center;
    line-height: 5;
    border-radius: 50%;
    font-size: 20px;
    border: 5px solid red;
    padding: 5px 6px;
    margin: 5px */
}